*{padding:0;margin:0;}
html{-webkit-text-size-adjust: 100%;}
body{
	font-family:helvetica, arial, sans-serif;
    font-size:11px;
    line-height:12px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3
{
	font-size: 1em;
	/*line-height: 1.25em;*/
}

a
{
	color: #000;
	text-decoration: underline;
	display: inline-block;
}

.noTouchScreen a:hover
{
	color: #00f;
}

.list-item-link,
#main-header a
{
	text-decoration: none;
}

.noTouchScreen .list-item-link:hover,
.noTouchScreen #main-header a:hover
{
	color: #000;
}

b,
strong {
	font-weight: bolder;
}
img, video{
	width: 100%;
	display: block;
}
img {
	border-style: none;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
header
{
	
}
main {
	display: block;
}
.container
{
	padding: 100px 20px 60px 20px;
}
#menu_toggle
{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	padding: 5px;
}
.menu_bar
{	
	height: 3px;
	background-color: #000;
}
/*#topbar{
    font-size:1em;
    line-height: 1.4em;
    margin-bottom: 3.5em;
	letter-spacing:0.125em;
	word-spacing:-0.1em;
}*/

/* ========
	 ipad
   ======== */
@media screen and (min-width: 737px){
	header
	{
		
	}
	.container
	{
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 160px;
		/*padding-top: 40px;*/
	}
	#menu_toggle
	{
		display: none;
	}
}
/* ==========
	 laptop
   ========== */
@media screen and (min-width: 1025px){
	.container
	{
		padding-left: 100px;
		padding-right: 100px;
	}
}
/* ================
	 large screen
   ================ */
@media screen and (min-width: 1500px){
	.container
	{
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
		width: 1300px;
	}
	.tooltiptext
	{
		width: 350px;
	}
}